@import url(s5-core.css); /* required to make the slide show run at all */
@import url(framing.css); /* sets basic placement and size of slide components */
/*@import url(pretty.css);  /* stuff that makes the slides look better than blah */

body {font-family: sans-serif}
pre {
  font-family: sans-serif;
  border-left: solid 0.1em #888;
  background: #eee;
  padding-left: 1em;
}
